body{
    font-size:15px;
    font-family:'AmbleRegular', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    color:#28292d;
    background-color:#103852;
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #103852), color-stop(30%, #064063));
    background-image:-webkit-linear-gradient(#103852,#064063 30%);
    background-image:-moz-linear-gradient(#103852,#064063 30%);      
    background-image:-o-linear-gradient(#103852,#064063 30%);
    background-image:linear-gradient(#103852,#064063 30%);
} 
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,b,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1{font-size:100%}
h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
legend{color:#000} 
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
a{-webkit-transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;-moz-transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;-o-transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out}
strong{font-weight:bold}
em{font-style:italic}
 
     
/*********************** NAVBAR *************************/
.navbar .brand {
    margin: 0 0 0 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0;
} 
.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}
#page-header {
    background: url([[pix:theme|header-bkg]]) repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
    margin: 0 auto;
    max-width: 1680px;
}
#page-navbar .breadcrumb-button {
    display: inline;
    padding-right: 3px;
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-nav {
    float: left;
    margin-bottom: 0;
}
#page-navbar button, #page-navbar input.form-submit, #page-navbar input[type="button"],#page-navbar  input[type="submit"], #page-navbar input[type="reset"] {
    background: none repeat scroll 0 0 #2971a3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    background:#2971a3;
    -webkit-transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;
    -moz-transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;
    -o-transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;
    transition:background-color 0.15s ease-in-out,color 0.15s ease-in-out;
    font-family: 'AmbleRegular',Helvetica,Arial,sans-serif;
    font-size: 13px;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    border-width: 0;
    box-shadow: none;    
}
#page-navbar button:hover, #page-navbar input.form-submit:hover, #page-navbar input[type="button"]:hover,#page-navbar  input[type="submit"]:hover, #page-navbar input[type="reset"]:hover{
    background:#153951;
}
/********************** PAGE *******************************/
#page-content
{

    background:url([[pix:theme|header-bkg]]);
    color: #28292d;
    font-family: 'AmbleRegular',Helvetica,Arial,sans-serif;
     min-height: 350px;
} 
#region-main h2 {
    color: #464646;
    font-family: 'AmbleBold',Helvetica,Arial,sans-serif;
    font-size: 1.7em;
} 
#region-main {
    font-size: 1.05em;
    line-height: 1.5em;
}
table.flexible th, .generaltable th {
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
}
.userlist table#participants td, .userlist table#participants th {
    font-size: 13px;
    font-weight: normal;
    text-align: left;
}
.form-item .form-label, .mform .fitem div.fitemtitle {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 150px;
}
.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1 {
    margin-left: 157px;
}
#page-report-loglive-index .generaltable th, #page-admin-report-log-index .generaltable th, #page-report-log-user .generaltable th, #page-admin-user table th, .environmenttable th, .category_subcategories th, .rcs-results th, table#listdirectories th, #page-report-loglive-index .generaltable td, #page-admin-report-log-index .generaltable td, #page-report-log-user .generaltable td, #page-admin-user table td, .environmenttable td, .category_subcategories td, .rcs-results td, table#listdirectories td {
    font-size: 13px;
    padding: 4px 0;
}
/********************** SIDEBAR *********************/
#block-region-side-pre {
    background-color: #e1e1e1;
    padding: 0 1%;
}
.block {
    background-color: #e1e1e1;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 9px;
    min-height: 20px;
    padding: 8px 0;
    color: #606060;
    font-weight: normal;
    font-family: 'AmbleRegular',Helvetica,Arial,sans-serif;
}
.block .header h2 {
    color: #606060;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
    padding: 4px 14px;
    text-shadow: none;
    text-transform: uppercase;
    word-wrap: break-word;
}
.block .content {
    font-size: 0.95em;
    line-height: 1.3em;
    color: #606060;
}
.block .content hr {
    border-color: #606060;
    margin: 5px 0;
}




/******** BUTTONS ***********/

button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    font-size: 12px;
}
/********** CALENDAR ******************/
.block .minicalendar th, .block .minicalendar td {
    font-size: 0.7em;
    padding: 1px;
    text-align: center;
}
.maincalendar button,.maincalendar input.form-submit,.maincalendar input[type="button"],.maincalendar input[type="submit"], .maincalendar input[type="reset"] {
    background: none repeat scroll 0 0 #f7ae5f;
    color: #fff;
    position: relative;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    -webkit-transition:background 0.15s ease-out;
    -moz-transition:background 0.15s ease-out;
    -o-transition:background 0.15s ease-out;
    transition:background 0.15s ease-out;
     text-shadow: none;
     border-width: 0px;
     box-shadow: none;
     }
.maincalendar button:hover, .maincalendar input.form-submit:hover, .maincalendar input[type="button"]:hover,.maincalendar  input[type="submit"]:hover,.maincalendar input[type="reset"]:hover{  background:#f5962e;color: #fff;  }

.path-calendar .maincalendar .controls {
    border: 1px solid #f5962e;
    border-collapse: collapse;
    border-spacing: 0;
    clear: both;
}

.path-calendar .maincalendar .calendar-controls .previous, .path-calendar .maincalendar .calendar-controls .next {
    background: none repeat scroll 0 0 #e57d0b;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
    position: relative;
    text-decoration: none;
    width: 27%;
}
.path-calendar .maincalendar .calendar-controls .current {
    width: 46%;
    color: #fff;
    font-family: 'AmbleRegular',Helvetica,Arial,sans-serif;
    font-size: 15px;
     line-height: 29px;
}
.calendar-controls {
    background: none repeat scroll 0 0 #f5962e;
}
.minicalendar .calendar-controls {
    background: none repeat scroll 0 0 transparent;
}
.path-calendar .maincalendar .controls {
    margin: 0 auto;
    width: 98%;
    
}
.maincalendar .calendarmonth td, .maincalendar .calendarmonth th{
   border-collapse:collapse;
    border-spacing:0;
    border:1px solid #f5962e;
}

.path-calendar .maincalendar .header {
    color: #28292d;
    font-weight: normal;
}
/************************************/
#dock {
    z-index: 5000;
}
/************* FOOTER BOX ***********/
.sandbox{padding:20px 0;color:#fff}
.sandbox .container {
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 2.5%;
}
.sandbox h2,.sandbox h3,.sandbox h4{
    font-family:'AmbleBold', Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased;
    margin-bottom:20px;
}
.sandbox h1,.sandbox h2,.sandbox h3 {
    line-height: inherit;
}
.sandbox h2
{
    font-size:2em;
}
.sandbox h3{
    font-size:1.8em
}
.sandbox h4{
    font-size:1.5em
}
.sandbox-content
{
    border-top:1px dashed #095f93;
    padding:40px 100px;
}
.sandbox-content a
{
    color:#fff;
    text-decoration:none;
}
.sandbox-content a:hover
{
    text-decoration:none;
}
/*********** FOOTER ***************/
#page-footer {
    background: none repeat scroll 0 0 #013eb1;
    margin-top: 0;
    border-top: 0 none;
}

#page-footer a {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.5em;
    text-decoration: none;
    font-family: 'AmbleRegular',Helvetica,Arial,sans-serif;
}
#page-footer .homelink  a {
    text-decoration: underline;
}
/************* RESPONSIVE DESIGN ******************/
@media only screen and (max-width: 750px)
{
   #block-region-side-pre {margin-left: 0px;}
   .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin-left: 0;margin-right: 0;}
}
@media only screen and (max-width: 850px)
{
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin-left: 0;margin-right: 0;}
     .block { background: #e1e1e1;} 
}
@media only screen and (max-width: 700px)
{
    .sandbox-content{padding:30px 0 10px}
    .sandbox-content img{display:block;width:100%}
    #region-bs-main-and-pre #region-main {width: 100%;}
    #page-content {background: url([[pix:theme|header-bkg]]) repeat scroll 0 0 rgba(0, 0, 0, 0);  }
    .block { background: #e1e1e1;}
}

@media only screen and (max-width: 350px)
{
   .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin-left: 0;margin-right: 0;}
   .page-h .logininfo {font-size: 12px;}
   .page-h .school-name {font-size: 1.5em !important;}
}

