@font-face{
    font-family:'Myriad Pro';
    src:url([[font:theme|MyriadPro-Regular.eot]]) format("embedded-opentype"),
    url([[font:theme|MyriadPro-Regular.woff]]) format("woff"),
    url([[font:theme|MyriadPro-Regular.ttf]])  format("truetype"),
    url([[font:theme|MyriadPro-Regular.svg]]) format("svg");
    font-weight:normal;
    font-style:normal;
    }

body, html { 
    background: #424954; 
    font-size: 100%; 
    font-family: "prenton", "Myriad Pro", Helvetica, Arial, sans-serif; 
    line-height: 22px; 
    color: #333; 
} 
.clear {
    clear: both;
}
a { 
    color: #4284e0; 
    text-decoration: none; 
    outline: none !important;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; 
}
a:hover { color: #333; }
ul li { list-style-type: disc; list-style-position: outside;  }
ol li { list-style-type: decimal; list-style-position: outside; }
h2 { font-size: 1.5em; line-height: 28px; }
h3 { font-size: 1.5em; color: #6c788a; }
h4 { font-size: 1em; font-weight: bold; color: #6c788a; }

.nav .dropdown-menu > li {
    list-style: none outside none;
}

/*****************************************/
textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    font-family: "prenton", "Myriad Pro", Helvetica, Arial, sans-serif;  
    width: 100%; 
    padding: 15px 0 12px 20px; 
    border: 1px solid #dfe4e6; 
    background-color: #fff; 
    font-size: 1.125em; 
    font-style: italic; 
    color: #494949; 
    outline: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 5px 0 rgba(214,219,221,.75);
    -webkit-box-shadow: 0 5px 0 rgba(214,219,221,.75);
    box-shadow: 0 5px 0 rgba(214,219,221,.75);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    height: 47px;
}
.adminsearchform input[type="submit"]{
    /*background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #4284e0);
    background-repeat: repeat-x; */
    background: #4284e0 ;
    color: #fff;
}
.adminsearchform input[type="submit"]:hover{
    text-decoration: underline;
}


#searchform_button ,.form-buttons .form-submit ,#id_submitbutton,
input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input
{
    color: #fff !important; 
    padding: 16px 50px 11px; 
    font-family: "prenton", "Myriad Pro", Helvetica, Arial, sans-serif !important; 
    cursor: pointer;
    border: 1px solid #53d1c7 !important; 
    font-style: italic; 
    font-size: 1.125em !important; /*18px/16px*/ 
    background-color: #49b9b1 !important; 
    background-image: none !important;
    text-shadow: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 5px 0 #3a938b;
    -webkit-box-shadow: 0 5px 0 #3a938b;
    box-shadow: 0 5px 0 #3a938b; 
}
#searchform_button:hover,.form-buttons .form-submit:hover,#id_submitbutton:hover,
input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover  { 
    -moz-box-shadow: 0 1px 0 #39938b;
    -webkit-box-shadow: 0 1px 0 #39938b;
    box-shadow: 0 1px 0 #39938b; 
}

table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form + div, div.backup-section + form, #fgroup_id_buttonar {
    background-color: transparent;
    border-top: 0;
   
}

.form-textarea textarea {
    background-color: #fff;
    border: 1px solid #dfe4e6;
    color: #494949;
    font-family: "prenton","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-style: italic;
    height: 200px;
    outline: medium none;
    padding: 15px 0 12px 15px;
    width: 450px;
     resize: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 5px 0 rgba(214,219,221,.75);
    -webkit-box-shadow: 0 5px 0 rgba(214,219,221,.75);
    box-shadow: 0 5px 0 rgba(214,219,221,.75);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input.text:focus, .form-textarea textarea:focus { 
    border-color: #CFD2D4;
    -moz-box-shadow: 0 5px 0 rgba(207,210,212,1);
    -webkit-box-shadow: 0 5px 0 rgba(207,210,212,1);
    box-shadow: 0 5px 0 rgba(207,210,212,1); 
}
/*******************************************/
.navbar-fixed-top {
    margin-bottom: 0;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/****************NAVBAR *****************/

#page-header {
    background: #3d434e;
    border-top: 1px solid #313435;
    padding: 0;
    position: relative;
    z-index: 1;
}
#page-header #cont-header {
    margin: 0 auto;
    position: relative;
    width: 98%;
}
#page-header #cont-header h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.breadcrumb {
    background-color: transparent;
    padding-top: 11px;
}

.breadcrumb  li {
    text-shadow: none;
}
.breadcrumb span {
    color: #fff;
}
.breadcrumb-button {
    padding-top: 7px;
      margin-top: 0;
}
.breadcrumb-nav {
    float: left;
    margin-bottom: 0;
    padding-top: 3px;
}
#page-header #cont-header a{
    color: #4284e0;
}
/********************* SIDEBAR =************************/

 .block-region {  
    z-index: 0; 
    top: 0; 
    height: 100%; 
    background: #E8EDEF; 
    border-right: 3px solid #D1D5D7;
   
 } 
.block-region {
   /* background: #e8edef;
    border-right: 3px solid #d1d5d7;
     position: relative;
    z-index: 10;  */
}
.block{
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding: 0px ;
}
#block-region-side-post {
    border-left: 3px solid #d1d5d7;
}
.block-region .header {
    background: #4284e0;
    color: #fff;
}
.block .header h2 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding: 7px 9px;
     text-shadow: none;
}
.block .header .block_action {
    float: right;
    padding: 6px 15px;
}
/******************** MAIN ***********************/
#region-main  div {
    padding-top: 7px;
}
.row-fluid {
    background: #fff;
}
.nav-tabs  li {
    list-style: none outside none;
}
.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1 {
    width: 480px;
}
.graph img {
    border: 0 none;
    vertical-align: middle;
    width: 500px;
}

.form-item .form-label, .mform .fitem div.fitemtitle {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 120px;
}
.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1 {
    margin-left: 140px;
}

.loginbox .loginform .form-input input {
    height: auto;
    width: 8em;
}

.loginform label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}
fieldset.coursesearchbox label {
    color: #fff;
    display: inline;
}
.user-enroller-panel {
    z-index: 4500;
}
#adminthemeselector img {
    border: 0 none;
    vertical-align: middle;
    width: 350px;
}
/********************* FOOTER *************************/
#enticers {
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
  background: #649eef;
  text-align: center; 
}

#enticers .ent_container {
    margin: 0 auto;
    position: relative;
}
#enticers a.enticer_item {
    background: none repeat scroll 0 0 #7bb2ff;
    border: 3px solid #7bb2ff;
    display: inline-block;
    margin: 0 7px 0 0;
    vertical-align: bottom;
    width: 290px;
}
a.enticer_item img { display: block;width: 290px; }

/*******************************/
#page-footer {
    background: url([[pix:theme|footer-bg]]);  
    color: #d4dfef;
    padding: 94px 0 84px;
    position: relative;
    width: 100%;
    z-index: 1;
    border-top: 0 none;
    margin-top: 0px
}
#page-footer a {
    color: #5690e1;
}
#page-footer a:hover { color: #fff; } 
#page-footer h3 { 
  margin: 0 0 15px; 
  font-size: 14px; 
  font-weight: 700;
  text-transform: none; 
  color: #d4dfef; }  
#footer-container {
   position: relative; margin: 0 auto; 
}
#page-footer .footer_logo {
  width: 23.404255319%;
  margin: 0 3% 0 5%; 
  float: left; 
}
#page-footer .footer_logo a { 
  margin: 16px 0 0; 
  font-size: 14px; 
  color: #6b7689; 
  display: block; 
}  
#page-footer .footer-center {
    float: left;
    margin: 5% 0 0 0%;
    width: 39%;
}
#page-footer .connect {
  width: 23.404255319%;
  margin: 0; 
  float: left;
   text-align: left; 
}
#page-footer .connect ul {
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}
#page-footer .connect ul li {
    font-size: 24px;
    line-height: 36px;
    list-style: none outside none;
    margin: 0;
    position: relative;
}
#page-footer a.alias:hover { color: #eee; } 
#page-footer .connect a.alias {
    background: url([[pix:theme|alias_arrow]])  no-repeat scroll left bottom rgba(0, 0, 0, 0);
    color: #fff;
    display: none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 9px 7px;
    position: absolute;
    right: 17px;
    top: -37px;
}
#page-footer .connect a.alias span {
    background-color: #568fe1;
    padding: 13px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
/*************DOCK *************************/
div#dock {
    z-index: 5;
}
/*************** UPDATE *****************/
.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
   
}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 0;
}
@media only screen and (min-width : 970px) { 
    body {
        padding-top: 0;
    }
    .navbar .brand {
        padding: 10px 50px;
    }
    
    .navbar .nav  li {
        float: left;
        list-style: none outside none;
    }
   
}
/********************LOGO***********************/
.h-cont2 {
    /*margin: 0 auto;*/
    max-width: 800px;
    position: relative;
    width: 800px;
}
 
